body {
    background-color: purple;
    font-size: 20px;
}

header h1{
    font-size:30px;
}

nav{
    float: right;
    
}
a:link {
    color: yellow;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

#first {
    background-image: url('../img/home-gallery-austin.jpg');
    padding: 250px 0;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#first p{
    font-size: 31px;
}