
main{
    width:50%;
    float: right;
    text-align: center;
    
}
main img{
  width: 320px;  
    
    
    
}
.text{
    width: 25%;
   float: right;
    
    
}
body{
    
    
    
    
}
.blog{
    
   text-align: center; 
    
}

