
.box{
    
    padding: 15px;
    float: right;
    text-align: center;
     
}
.box img{
  width: 230px;
    
    
    
    
}
.text{
    width: 40%;
   float: right;

    
}

body{
 width: 700px;   
    
    
    
}
.blog{
    
   text-align: center; 
    
}
.keyboard {
    
  width: 350px;
   
    
}
.keyboard img{
  width:  350px;
    
}

.clear-fix:after{
    content:""; 
    display:block;
    clear: right;
    
}



