#hero {
    background-image: url("../img/wine14.jpg");
    background-size: cover;
    height: 1000px;
    background-position: center;  
    color: #fff;
    
}
#proof{
    
   background-image: url(../img/wine13.jpg);
    background-size: cover;
    height: 1000px;
    text-align: center;
    background-position: center;
    color: #fff;
    
    
    
}
#awards{
    
   background-image:url(../img/wine12.jpg);
    background-size: cover;
    height: 1000px;
    background-position: center;
    text-align: center;
    color: #fff;
    
    
}