.space{
    width: 850px;
    height: 450px;
    background-image:url('../img/nasa-background.jpg');
    background-size: cover;
    background-repeat:none;
    text-align: center;
        
    
}
.text{
    
  color: azure;
    font-size: 30px;
    vertical-align: middle;
    
}
#box{
   width: 850px;
    height: 324px;
    
}
.info{
    
    width: 33%;
    float: left;
    
}
li{
    
  style:none;  
    
}